#from pydpack.util import functionAlign
// SPDX-License-Identifier: MIT
\#include "$(name).h"
\#include <dpack/codec.h>
#for $t, $n, $v in $constVariables

static const $t $n = $v[0];
#if len($v) > 1
#for $l in $v[1:-1]
	$l
#end for
$v[-1];
#end if
#end for
#for $f, $d in $StaticFunctions
#set $r = functionAlign($f)

static $f[0]
#for $x in $r
$x
#end for
{
#for $x in $d
#if len($x) > 0
	$x
#else
$x
#end if
#end for
}
#end for
#for $f, $d in $ExternFunctions
#set $r = functionAlign($f)

$f[0]
#for $x in $r
$x
#end for
{
#for $x in $d
#if len($x) > 0
	$x
#else
$x
#end if
#end for
}
#end for