#if $hasInit
int err;

#end if
#for $t, $n in $struct
#if $t.hasInit()
err = $(struct_name)_init_$(n)(&data->$n);
if (err)
	return err;

#end if
#end for
data->dp_filled = 0;
#if [1 for $t, _ in $struct if $t.isObsolete()]
data->dp_obsolete = 0;
#end if
return 0;