## int
## struct_check_string(const char *value)
#from pydpack.util import range2liststr
$(assert)(value);

int   err;
char *pattern;

#for $p, $inv in $pattern
#if len($p) == 1
pattern = $p[0];
#else
pattern = $p[0] \
#for $i in $p[1:-1]:
          $i \
#end for
          $p[-1];
#end if
err = pattern_matched_string(pattern, value);
#if $inv
if (!err)
	return -EINVAL;
#else
if (err)
	return -EINVAL;
#end if

#end for
#if $must
#for $f in $must
err = $(f)(value);
if (err)
	return err;

#end for
#end if
return 0;