## static int
## struct_unpack_name(struct dpack_decoder *decoder, void *data)
$(assert)(decoder);
$(assert)(data);

#if $status == 'obsolete'
int err;
struct $struct_type *obj = (struct $(struct_type) *)data;

if ((obj->dp_obsolete & (1U << $field)) ==
    (1U << $field))
	return -EEXIST;

err = dpack_decoder_skip(decoder);
if (err)
	return err;

obj->dp_obsolete |= (1U << $field);

return 0;
#else
int ret;
struct $struct_type *obj = (struct $(struct_type) *)data;

if ($(struct_type)_has_$(name)(obj))
	return -EEXIST;

ret = $(decode)(decoder, &obj->$name);
if (ret < 0)
	return ret;

obj->dp_filled |= (1U << $field);

#if $check
ret = $(struct_type)_check_$(name)(obj->$name);
if (ret)
	return ret;

#end if
return 0;
#end if