## int
## struct_check_string(const char *value)
#from pydpack.util import range2liststr
$(assert)(value);

int   err;
char *pattern;

#for $p, $inv in $pattern
pattern = "^$p\$";
err = pattern_matched_string(pattern, value);
#if $inv
if (!err)
	return -EINVAL;
#else
if (err)
	return -EINVAL;
#end if

#end for
#if $must
#for $f in $must
err = $(f)(value);
if (err)
	return err;

#end for
#end if
return 0;